* {
  margin: 0;
  padding: 0;
}

html {
  margin:0;
  height: 100%;
  overflow-y: scroll;
}

 body:before {
  content: "";
  height:200%;
  background-color: #2D2D2D;
  width: 260px;
  position:fixed;
  display: block;
  left:0;
  z-index: -1;
}

body:after {
  height:200%;
  background-color: red;
  width: 260px;
  position:fixed;
  display: block;
  left:0;
}

body {
  margin:0;
  height: 100%;
  background:  url("../image/Wood_Background_mix.jpg") no-repeat;
  background-size: cover;
  background-position: center bottom !important;
  overflow-y: scroll;
}

div#root {
  width: 100%;
}

div#header {
  width: 100%;
  height: 56px;
}

img {
  border-radius: 20px;
}

h1#title {
  transition:all 0.1s ease-in-out;
  color: white;
  left: 0;
  right: 0;
  top: 50%;
  position: absolute;
  text-align: center;
  font-size: 3.25em;
  font-family: Comic Sans MS;
  font-weight: 100;
}

h1#title:hover {
/*  color: white;
  left: 0;
  right: 0;
  top: 50%;*/
  color: #27ae60;
  text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;
  position: absolute;
  text-align: center;
  font-size: 3.35em;
  font-weight: 100;
}

div#logo {
  background: url("../image/dashboard-logo.png");
  background-repeat: no-repeat;
  background-size: 60px 50px;
  width: 60px;
  height: 50px;
  margin-left: 16px;
  margin-top: 3px;
  float: left;
}
span#header-title {
  font-family: Tahoma,Verdana,Segoe,sans-serif;
  font-weight: bold;
  font-size: 45px;
  color: black;
  float: left;
  text-shadow: 1px 1px 0px rgba(255,255,255, .4);
  padding-left: 120px;
  padding-top: 10px;
}

div#container {
  height: 100%;
  width: 25%;
}

div#menu {
  height: 100%;
  background-color: #2D2D2D;
  opacity: 1;
  right: 0;
  position: static;
  float: left;
  width: 260px;
}

#navigator-wrapper {
  padding: 20px 20px;
}

.head-picture {
  margin: 0 0 20px;
}

.site-logo {
  text-align: center;
  margin-bottom: 20px;
}

.site-title {
  text-transform: uppercase;
  padding:0 0;
  color: #fff;
  margin: 0;
}

.site-subtitle {
  color: #fff;
  font-size: 12px;
  text-transform: uppercase;
  margin: 0;
}

a {
  display: inline-block;
  text-decoration: none;
  color: #fff;
}

img {
  background: url("../image/head.png") no-repeat;
  max-width: 100%;
}

div.content-wrapper {
  background-size: cover;
  background-position: center bottom !important;
  position: static;
  margin-left: 260px;
  height: 100%;
  padding: 180px 120px 80px;
  min-width: 585px;
  text-align: center;
}

.content:before {
  content: '';
  display: block;
  position: absolute;
  opacity: 0.8;
  z-index: -1;
  background: #fff;
  top: 0;
  left: 0;
  width: 100%;
  height: 500px;
}

div.content {
  width: 100%;
  height: 100%;
  position: relative;
}

.content-wrapper h1 {
  font-family: SealmemoryHeader;
  color: purple;
  font-weight: bold;
  margin: 10px 0 0 15px;
}

.paragraph {
  padding: 50px;
  padding: 20px 55px 35px;
}

.paragraph pre {
  font-family: SealmemoryHeader;
  color: purple;
  font-weight: bold;
  overflow-wrap: break-word;
  font-size: 18px;
  text-align: center;
}

div#navigator {
  border-bottom: 15px double rgba(0,0,0,0.6);
  padding: 0 0 30px 0;
}

/*nav#navigator {
  margin-top: -108px 0 0 0;
  position: absolute;
top: 50%;
right: 0;
height: 216px;
}*/

div.tab {
  width: 100%;
  height: 30px;
  text-align: center;
  margin-top: 30px;
  color:white;
  line-height: 30px;
}



div#tab1 {
  background: url("../image/new-diet-icon.png") no-repeat;
  width: 50px;
  height: 45px;
  float: left;
  background-size: cover;
}

div#tab2 {
  background: url("../image/money.png") no-repeat;
  width: 58px;
  height: 52px;
  float: left;
  background-size: cover;
}

div#tab3 {
  background: url("../image/housework.png") no-repeat;
  width: 55px;
  height: 50px;
  float: left;
  background-size: cover;
}

div#tab4 {
  background: url("../image/decision.png") no-repeat;
  width: 56px;
  height: 45px;
  float: left;
  background-size: cover;
}

div#tab5 {
  background: url("../image/cd_music.png") no-repeat;
  width: 56px;
  height: 56px;
  float: left;
  background-size: cover;
}

ul.menu  {
  border: none;
  list-style: none;
  text-align: left;
  width: 260px;
  margin-left: -20px;
}

.menu li {
  /*transition:all 2s ease-in-out;*/
  perspective: 800px;
  perspective-origin: 50% 100px;
  transition:background-color 0.4s ease-in-out;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
  padding: 5px 10px 0 10px;
}

.menu li:hover  {
  background-color: #434343;
  border-left: solid 5px #DA9B66;
}

.menu li.active  {
  background-color: #434343;
  border-left: solid 5px #DA9B66;
}

.menu li.active .tab-description{
  color: white;
}

.menu li .tab-icon{
  transition:all 2.5s ease-in-out;
  }

.menu li:hover .tab-icon{
  -webkit-transform:rotateY(2160deg);
  -webkit-animation-iteration-count: infinite;
  -webkit-transition-timing-function: linear;
}

.menu li a {
  display: block;
height: 60px;
width: 100%;
text-decoration: none;
-moz-transition: 0.4s ease-out;
-o-transition: 0.4s ease-out;
-webkit-transition: 0.4s ease-out;
transition: 0.4s ease-out;
}

.menu li .tab-big-title {
  font-size: 2.1em;
  color: white;
  display: block;
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  margin-left: 60px;
}

.menu li .tab-description {
  transition:all 0.4s ease-in-out;
  display: block;
  font-size: 1.4em;
color: #808080;
display: block;
margin: 2px 0 0 0;
margin: 0;
padding: 0;
border: 0;
font: inherit;
font-size: 100%;
vertical-align: baseline;
margin-left: 60px;
}

.menu li:hover .tab-description{
  color: white;
}

footer#social {
  width: inherit;
}

/*div#social {
  bottom: 20px;
  text-align: center;
  width: 100%;
  margin-top: 350%;
}*/

footer#social ul {
  list-style: none;
  padding: 0;
  width: 100%;
  text-align: center;
}

li.social {
  transition:all 0.4s ease-in-out;
  display: inline-block;
  border: 0;
  font: inherit;
  font-size: 23px;
  vertical-align: baseline;
  color: rgba(0,0,0,0.6);
}

li.social:hover {
  cursor: pointer;
  color: white;
}

li.social + li.social {
  padding-left: 30px;
}

.container-wrapper {
  margin-left: 260px;
  padding: 40px 30px;
}

.panel {
  background-color: white;
  margin-bottom: 20px;
}

.header {
  border: solid 1px;
  background-color: black;
  color: white;
  height: 20px;
  padding: 5px;
}

.header span {
  color: white;
}
