<!--   <% for(var tab in menus) { %>
    <div class="tab-icon"><%=menus[tab]%></div>
  <% } %> -->
<nav id="navigator">
  <ul class="menu">
    <li>
      <a href="#" class="tab" data-page-title="Become beautiful!">
        <div class="tab-icon" id="tab1"></div>
        <span class="tab-big-title">Slim</span>
        <span class="tab-description">Track everyday diet and exercise</span>
      </a>
    </li>
    <li>
      <a href="#" class="tab" data-page-title="Become beautiful!">
        <div class="tab-icon" id="tab2"></div>
        <span class="tab-big-title">Blog</span>
        <span class="tab-description">Write down sweet memory</span>
      </a>
    </li>
    <li>
      <a href="#" class="tab" data-page-title="Big house!">
        <div class="tab-icon" id="tab3"></div>
        <span class="tab-big-title">Housework</span>
        <span class="tab-description">Save money</span>
      </a>
    </li>
    <li>
      <a href="#" class="tab" data-page-title="No hesitate!">
        <div class="tab-icon" id="tab4"></div>
        <span class="tab-big-title">Decision Maker</span>
        <span class="tab-description">God makes the rules</span>
      </a>
    </li>
    <li>
      <a href="#" class="tab" data-page-title="Show time!">
        <div class="tab-icon" id="tab5"></div>
        <span class="tab-big-title">Interests</span>
        <span class="tab-description">My songs and music</span>
      </a>
    </li>
  </ul>
</nav>

<footer id="social">
  <ul>
    <li class="social"><i class="fa fa-twitter"></i></li>
  <li class="social"><i class="fa fa-facebook"></i></li>
  <li class="social"><i class="fa fa-linkedin"></i></li>
  <li class="social"><i class="fa fa-skype"></i></li>
  </ul>

</footer>



<!-- <div class='cool_btn1 green'>
  <h1 class='top'>126 <i>Plays</i></h1>
  <h2>#</h2>
</div>
<div class='cool_btn1 teal'>
  <h1 class='top'>10k <i>Likes</i></h1>
  <h2>M</h2>
</div>
<div class='cool_btn1 blue'>
  <h1 class='top'>240 <i>Likes</i></h1>
  <h2>G</h2>
</div>
<div class='cool_btn1 orange'>
  <h1 class='top'>21k <i>Points</i></h1>
  <h2>)</h2>
</div> -->

